@import "/styles/sass/utilities/derived-variables.sass";
@import "/styles/sass/utilities/mixins.sass";
.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: $general-gap;
    position: relative;
}
.top_grid {
    width: 100%;
    margin-top: $general-gap;
    // margin-top: 5.0rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    gap: $general-gap;
    & > * {
        @include general-border;
    }
    .top_info {
        text-align: right;
        padding: $general-gap;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .top_info_footer {
            margin-top: 1.5rem;
            flex: 1;
            display: flex;
            align-items: flex-end;
            gap: 1rem;
            & > * {
                width: 50%;
            }
        }
    }
    .info_grid {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        font-size: $size-7;
        & > * {
            padding: 4px 0;
        }
        &.border {
            border-bottom: $general-border;
        }
    }
}

.upgrade_to_pro {
    @include general-border;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: $general-gap;
}

.chart_controls_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .chart_wrapper {
        flex: 1;
        position: relative;
        .chart_container {
            @include overlay;
        }
    }
}
