@import '/styles/sass/utilities/mixins.sass';
.bottom_info_nav {
  border-bottom: 1px solid $ui-red;
  display: flex;
  align-items: center;
  .nav_item {
    padding: 0.5rem 1rem;
    position: relative;
    cursor: pointer;
    .floating_bg {
      // @include overlay;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      background-color: $ui-red;
      z-index: -1;
    }
  }
}
