@import "/styles/sass/utilities/derived-variables.sass";
@import "/styles/sass/utilities/mixins.sass";

.container {
    width: 100%;
    display: flex;
    gap: 0.75rem;

    .left {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
    .right {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        .description {
            @include general-border;
            padding: 0.75rem;
            display: flex;
            gap: 0.75rem;
            flex-direction: column;
        }
    }

    .table {
        @include general-border;
        padding: 0.75rem;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .key_metrics_wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4px;
            .key_metrics_item {
                .head {
                    font-size: $size-7;
                    color: $grey;
                    text-transform: uppercase;
                }
                .content {
                    font-weight: $weight-bold;
                    font-family: $family-secondary;
                    font-size: $size-6;
                    color: $yellow;
                }
            }
        }

        .line {
            border-bottom: 1px solid $grey-darkest;
        }
    }
}
