@import '/styles/sass/utilities/derived-variables.sass';
@import '/styles/sass/utilities/mixins.sass';
@import "/styles/sass/utilities/mixins.sass";
@import "/styles/sass/components/modal.sass";
@import "/styles/sass/utilities/controls.sass";
@import "/styles/sass/utilities/extends.sass";

.buttonContianer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
.overflow_texttab {
  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
    display: block;
    float: left;
    text-align: left;
  }
}
.imgContainer {
    display: flex;
    overflow: hidden;
    width: 100%;
    gap: 1rem;
    // border: 5px solid #ffffff;
    // border-radius: 10px;
  }
  .bottom_info {
    position: relative;
    width: 100%;
    .bottom_info_nav {
      // border-bottom: 1px solid $ui-red;
      display: flex;
      align-items: center;
      max-width: 600px;
      .nav_item {
        padding: 0.5rem 1rem;
        position: relative;
        cursor: pointer;
        .floating_bg {
          // @include overlay;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          position: absolute;
          background-color: $ui-red;
          z-index: -1;
        }
      }
    }
  }
  
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: $general-gap;
    position: relative;
  }
  
